<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ron's News Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/saved">Saved Articles</a>
            </li>
            <li>
                <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="card" style="width: 100%">
        <img class="card-img-top" src="../assets/img/ron-burgandy-broken-news.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text ronQuotes">The news is broken and that ain't right. But I'll help you fix it - Ron</p>
        </div>
    </div>
   

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning learnMore" data-toggle="modal" data-target="#exampleModal">
        Learn More About News Site Bias | Then Click Which Direction To Pull News From
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">News Site Bias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="../assets/img/newsiteschart.png" alt="Card image cap">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

<hr>
 <!--   <div class="signs">
        <a class="scrape-new" href="">
            <img src="../assets/img/left.png" alt="left arrow">
        </a>
        <a href="">
            <img src="../assets/img/center.png" alt="center arrow">
        </a>
        <a href="">
            <img src="../assets/img/right.png" alt="right arrow">
        </a>

    </div>
</div> -->

<div id="main-container" class="container">
    <!-- left articles    -->
    <div class="col-sm-6">
        <div class="signs">
        <a class="scrape-new" href="">
            <img src="../assets/img/left.png" alt="left arrow">
        </a>
        </div>
        <!-- insert articles here    -->
        {{#each articles}} {{#unless this.isSaved}}
        <div class="container-fluid article-container">
            <div class="card" style="width: 95%;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{link}}" target="_blank">{{title}}</a>
                    </h5>
                    <p class="card-text">{{summary}}</p>
                    <a href="#" class="btn btn-primary saveButton" data-id="{{_id}}">Save Article</a>
                </div>
            </div>
        </div>
        <hr> {{/unless}} {{/each}}

    </div>

    <!-- right articles    -->
    <div class="col-sm-6">
         <div class="signs">
        <a class="scrape-new" href="">
            <img src="../assets/img/right.png" alt="right arrow">
        </a>
        </div>
        <!-- insert articles here    -->
        {{#each articles}} {{#unless this.isSaved}}
        <div class="container-fluid article-container">
            <div class="card" style="width: 95%;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{link}}" target="_blank">{{title}}</a>
                    </h5>
                    <p class="card-text">{{summary}}</p>
                    <a href="#" class="btn btn-primary saveButton" data-id="{{_id}}">Save Article</a>
                </div>
            </div>
        </div>
        <hr> {{/unless}} {{/each}}

    </div>

</div>



<br>
<br>
<footer class="footer">
    <div class="container">
        <p>Ron's News Scraper</p>
    </div>
</footer>